body {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #121212;
}

.nav {
  top: 0;
  height: 70px;
  width: 100%;
  position: sticky;
  background-color: #121212;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-logo {
  display: inline-block;
  height: 70px;
  width: auto;
  margin-left: 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-right: 5px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 24px 12px 24px 12px;
  text-decoration: none;
  color: #FFFFFF;
}

.nav > .nav-links > a:hover {
  color: #C21010;
  transition: ease 0.3s;
}

.nav > #nav-check {
  display: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 100%;
}

.content > .content-page {
  width: 40%;
  margin-bottom: 40px;
}

.content > .content-page > h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.content > .content-page > h2 {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  margin: 0;
  margin-top: 20px;
}

.content > .content-page > p {
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  margin-top: 10px;
}

.content > .content-page > p > a {
  text-decoration: underline;
  color: #FFFFFF;
}

.content > .content-page > p > a:hover {
  color: #C21010;
  transition: ease 0.3s;
}

@media (max-width: 960px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 22px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #FFFFFF;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #121212;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: fit-content;
  }
  .nav > .nav-links > a:hover {
    color: #C21010;
    transition: ease 0.3s;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y: hidden;
  }
  .content > .content-page {
    width: 80%;
  }
}
